<!DOCTYPE html>
<html>
<head>
	<title>AJAX Tutorial</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!--<link rel="stylesheet" type="text/css" href="css/main.css">-->
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
	
<div class="container">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Study Guide</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="../../">Home</a></li>
					<li class="active"><a href="#">CSS</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Other concepts <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="html.html">HTML</a></li>
							<li><a href="bootstrap.html">Bootstrap</a></li>
							<li><a href="javascript.html">JavaScript</a></li>
							<li><a href="jquery.html">jQuery</a></li>
							<li><a href="git.html">git</a></li>
						</ul>
					</li>
				</ul>
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" data-toggle="tooltip" title="still trying to get the Mozilla Docs here" id="searchterm" placeholder="Search Wikipedia">
					</div>
					<button type="submit" class="btn btn-default" data-toggle="tooltip" title="Button isn't really working yet. Probably never will. lol">Submit</button>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="https://hackernoon.com/how-it-feels-to-learn-javascript-in-2016-d3a717dd577f#.nsc708smy">Humor</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="http://bdcampbell.net/javascript/book/javascript_the_good_parts.pdf">JavaScript the Good Parts</a></li>
							<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">Mozilla Docs</a></li>
							<li><a href="https://www.w3.org/TR/html5/">HTML Docs</a></li>
							<li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS Docs</a></li>
							<li><a href="http://api.jquery.com/">jQuery Docs</a></li>
							<li><a href="http://getbootstrap.com/">Boostrap Docs</a></li>
							<li><a href="https://git-scm.com/docs">git Docs</a></li>

							<li class="divider"></li>
							<li><a href="https://github.com/jpauloconnor/jstrackresources">Paul's Resource List</a></li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div class="jumbotron">
		<h1 class="display-3">CSS Study Guide</h1>
		<p class="lead">Let's add some CSS code and concepts in here. Cool?</p>
		<div id="results">

		</div>
	</div>
		<form>
			<div class="form-group">
				<label for="input">Concept:</label>
				<input class="form-control" id="concept" placeholder="Enter a concept">
				 <small id="conceptNote" class="form-text text-muted">Just give us one word here.</small>
			</div>
			<div class="form-group">
				<label for="challenge">Question:</label>
				<textarea class="form-control" id="challenge" rows="2" placeholder="Add your question here"></textarea>
			</div>
			<div class="form-group">
				<label for="example">Example:</label>
				<textarea class="form-control" id="example" rows="4" placeholder="Add your code here."></textarea>
			</div>		
			<button id="add-topic" class="btn btn-info">Add!</button>
		</form>		

	
	<br />
	<hr>
		<div class="col-md-12" style="background-color: #eee">
			<br>
			<table class="table table-hover" id="topics">
				<thead>
					<th class="col-md-3" id="concept" style="background-color: ">Concept</th>	
					<th class="col-md-3" id="challenge" style="background-color: ">Challenge</th>
					<th class="col-md-3" id="example" style="background-color: ">Example</th>
					<th class="col-md-3" id="remove" style="background-color: ">Remove</th>
				</thead>
				<tbody>
					
				</tbody>
			</table>
			<br>	
		</div>
	</div>

<!--js files-->

	<script src="../js/ajaxcss.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
</body>
</html>