body {
	font-family: belleza;
}

code{
	padding: 85px 5px 2px 5px;
	border: 2px solid black;

}
.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}
table{
	border-radius: 5px;
	border-color: black;
	border: 3px solid black;
}

td {
	background-color: powderblue;
	font-size: 18px
}

tr {
	border-color: black;
	border: 3px solid black;

}

/*Table Columns*/
#concept{
	width: 15%;
}


#challenge{
	width: 40%;
}

#example{
	width: 40%;
}

#remove{
	width: 5%;
}
